<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/about.css">
  </head>
  <body>
    <h1>
      <center>About The Creators</center>
    </h1>
    <div id= "nav">
  <ul>
    <li><a href="home"> H0m3</a></li>
  <li><a href="deepfryer">d33p frY3r</a></li>
  <li><a href="memequiz">m3M3 qUiZ</a></li>
  <li><a href="about">aB0uT</a></li>
</ul>
    </div>
    <img src=http://hacathletics.org/wp-content/uploads/sites/7/2016/05/LizaCotterTrack16-1200x600.jpg  style="width:483px; height:242px;">
  <p id="liza">
    Liza is a meme master who has dedicated the last 7 years to in-depth meme research. She has found that memes are, in fact, the height of human evolution.
    </p>
    <img src=https://pbs.twimg.com/media/Demxpi3W0AAs3Ng?format=jpg&name=360x360 style="width:360px; height:290px;">
    <p id="mary">
      Mary is a meme connoisseur who has competed in and won several international meme contests. Her refined meme taste is envied by many.
    </p>
  </body>
</html>