<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/deepfryer.css">
  </head>
  <body>
    <h1>
      <center> d33P FrY3r </center>
    </h1>
    <div>
  <ul>
    <li><a href="home"> H0m3</a></li>
    <li><a href="deepfryer">d33p frY3r</a></li>
    <li><a href="memequiz">m3M3 qUiZ</a></li>
    <li><a href="about">aB0uT</a></li>
  </ul>
  </div>
  <form method = "POST" action = "/imagefinal"> 
      <p>Your image url (tinypic result): <input type = "text" name = "link" ></p>
    <a href= "tutorial"> url tutorial </a>
            <p>The width of your image in pixels (if you know it, leave it blank if you don't): 
            <input type="text" name = "width" >
            </p>
      <p>The height of your image in pixels (if you know it, leave it blank if you don't): <input type="text" name = "height" ></p>
      <a href= "dimensions"> image dimensions tutorial </a>
    <br>
      <input type="hidden" name="color" value="">
      <input type="hidden" name="color2" value="">
      <input type = "submit" value="Submit">
    </form>
  </body>
</html>