<!DOCTYPE html>
<html>
  <head>
    <title>Dimensions Tutorial</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  </head>
  <body>
    <h1> How to find the dimensions of your image </h1>
    <h2> How to find image dimensions for images found in Google Images </h2>
  <img src="http://i67.tinypic.com/4tk7xd.png">
    <h3> The image dimensions are below the picture, and are width by height. Type the first number in the width box, and the second in the height box.  </h3>
    <h2> How to find image dimensions for images local on your computer</h2>
    <img src="http://i66.tinypic.com/2uzt3m1.png">
    <h3> Locate the image on your destop </h3>
   <img src="http://i65.tinypic.com/2ugjno7.png">
    <h3> Right-click on your image on your desktop and click Get Info </h3>
    <img src="http://i67.tinypic.com/25jxgn6.png">
    <h3> The dimensions will be located under More Info. Type the first number into the width box and the second number into the height box. </h3>
  </body>
</html>