<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
  <form method = "POST" action = "/food">
<p>Your Phone Number: <input type="text" phone-number = "phone-number"></p>
<p>Your Social Security Number: <input type="text" social-security-number = "social-security-number"></p>
<p>Your Mothers Maiden Name: <input type="text" mothers-maiden-name = "mothers-maiden-name"></p>
<input type="submit">
</form>

  </body>
</html>
