<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <link rel ="stylesheet" href = "stylesheets/home.css">
    <meta charset="UTF-8">
    <title>DeepFryer</title>
  </head>
  <body>
    <h1> <center> w3Lc0m3 t0 tH3 D33pfrY3r </center> </h1>
    <div>
  <ul><center>
  <li><a href="home"> H0m3</a></li>
  <li><a href="deepfryer">d33p frY3r</a></li>
  <li><a href="memequiz">m3M3 qUiZ</a></li>
  <li><a href="about">aB0uT</a></li>
   </center> </ul>
    </div>
    <h3>
      What is a "Deep Fried Meme" ??
    </h3>
    <h4>
      According to Urban Dictionary user Somekidknowswords, a Deep Fried Meme is 'The act of intentionaly distorting a meme for comedic reasons.' Not to be confused with Surreal meme defined as 'A type of ironic meme that is bizarre in appearance and that usually makes no sense' by user dannybrownisagenius.
  </body>
</html>