<!DOCTYPE erb>
<html>
  <head>
    <!--<link rel = "stylesheet" href = "deepfry2.css">-->
  </head>
  <body> 
    <form method = "POST" action = "/imagefinal"> 
      <p>Your image url (tinypic result): <input type = "text" name = "link" ></p>
            <p>The width of your image in pixels (if you know it, leave it blank if you don't): <input type="text" name = "width" ></p>
      <p>The height of your image in pixels (if you know it, leave it blank if you don't): <input type="text" name = "height" ></p>
      <input type="hidden" name="color" value="">
      <input type = "submit" value="Submit">
    </form>
  </body>
</html>