<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/memequiz.css">
  </head>
  <body> 
    <h1>
      <center> m3M3 qUiZ</center>
    </h1>
<div id= nav>
  <ul>
    <li><a href="home"> H0m3</a></li>
  <li><a href="deepfryer">d33p frY3r</a></li>
  <li><a href="memequiz">m3M3 qUiZ</a></li>
  <li><a href="about">aB0uT</a></li>
</ul>
    </div>
<form method = "POST" action = "/quiz-results"> 
      <p>What do you want your followers/friends to think when
        <br>they see your meme? <input type="radio" name="friends" value="what" checked> what<br>
        <input type="radio" name="friends" value="haha" > *laUgH nOisE*<br>
        <input type="radio" name="friends" value="cringe" > cringe<br>
  </p>
    <p>What social media platform will you be posting this on? <input type="radio" name="platform" value="facebook" checked> facebook<br>
      <input type="radio" name="platform" value="insta" > insta<br>
      <input type="radio" name="platform" value="twitter" > twitter<br>
  </p>
    <br>How would you describe your personality? <input type = "radio" name="personality" value="silly" checked> silly<br>
  <input type = "radio" name="personality" value="mysterious" > mysterious<br>
    <input type = "radio" name="personality" value="chill" > chill <br></p>
      <input type = "submit">
    
    </form>
    <div>
       <h4 id= inspo> 
        Inspo!!
        
      </h4>
      <img src=https://i.pinimg.com/236x/b8/02/f6/b802f67c6feaad62a5bc717a9b0eb2d4--meme-pictures.jpg  style="width:560px; height:480px;" id= yaint>
      
    </div>
    </body>
</html>