<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quiz Result</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/result1.css">
  </head>
  <body>
    <p><center>
      y0Ur v3Ry 0wN d33P Fri3D m3M3
      </center></p>
  <center>
    <h2>
      Random Advice:
      <br>
      smile at strangers
    </h2>
    <img src=https://78.media.tumblr.com/bbfa5c0a77a556e60e1b1193ef2def28/tumblr_ovhkevgmBG1wuc4tfo1_1280.png  style="width:574px; height:554px;"></center>
    
  </body>
</html>