<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/result1.css">
  </head>
  <body>
    <p><center>
      y0Ur v3Ry 0wN d33P Fri3D m3M3
      </center></p>
  <center>
    <h2>
      Random Advice:
      <br>
      look at things closer tommorow
    </h2>
    <img src=https://i.pinimg.com/originals/37/08/43/370843b173a5a5de97b2b2e179786b6d.jpg  style="width:574px; height:444px;"></center>
    
  </body>
</html>