<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/result1.css">
  </head>
  <body>
    <p><center>
      y0Ur v3Ry 0wN d33P Fri3D m3M3
      </center></p>
  <center>
    <h2>
      Random Advice:
      <br>
      sit down. be humble.
    </h2>
    <img src=https://media0ch-a.akamaihd.net/65/98/93a278697d2b560dcf5ac3ab6d15e3cf.jpeg  style="width:574px; height:578px;"></center>
    
  </body>
</html>