<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quiz Result</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/result1.css">
  </head>
  <body>
    <p><center>
      y0Ur v3Ry 0wN d33P Fri3D m3M3
      </center></p>
  <center>
    <h2>
      Random Advice:
      <br>
      excersize is good for the mind and body. do it
    </h2>
    <img src=https://ih1.redbubble.net/image.524239231.5181/poster%2C210x230%2Cf8f8f8-pad%2C210x230%2Cf8f8f8.lite-1.jpg  style="width:210px; height:230px;"></center>
    
  </body>
</html>