<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/result1.css">
  </head>
  <body>
    <p><center>
      y0Ur v3Ry 0wN d33P Fri3D m3M3
      </center></p>
  <center>
    <h2>
      Random Advice:
      <br>
      music makes everthing better
    </h2>
    <img src=https://i.ytimg.com/vi/umhJrX-cNeE/hqdefault.jpg  style="width:480px; height:360px;"></center>
    
  </body>
</html>