<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quiz Result</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  <link rel ="stylesheet" href = "stylesheets/result1.css">
  </head>
  <body>
    <p><center>
      y0Ur v3Ry 0wN d33P Fri3D m3M3
      </center></p>
  <center>
    <h2>
      Random Advice:
      <br>
      everyone has a different point of view
    </h2>
    <img src=https://memegenerator.net/img/images/71641836/deep-fried-dw.jpg  style="width:473px; height:418px;"></center>
    
  </body>
</html>