<!DOCTYPE html>
<html>
  <head>
    <title>Url Tutorial</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" type="text/css">
  </head>
  <body>
    <h1> How to get a url from your image </h1>
    <h2> How to get a url from your image if it is a image from google images</h2>
   <img src="http://i67.tinypic.com/2cza9fd.png">
    <h3> Right-click on your image and click Copy Image Adress. Then paste the link in the url textbox back at the deepfryer.</h3>
    <h2> How to get a url from your image with tinypic.com </h2>
  <img  src="http://i65.tinypic.com/nvo7zq.png">
  <h2> Click Choose File and find the image you want to deepfry. Then, click Upload Now.</h2>
<img src="http://i64.tinypic.com/142zxgn.png"
style = height:90%;width:90%>
    <h3> Then copy the last link and paste it in the url textbox back at the deepfryer. </h3>
  </body>
</html>